body{
    background-color: rgba(0 0 0/.9);
    font-weight: bold;
    transition: all 1s;
}
.main-heading h2,
.our-skills .container > div > h3,
.contact .container .info h4 {
    color: #fff;
}
.container .testimonials .bullets li{
    border: 1px solid #fff;
}