/*start variables*/
:root{
    --main-color: #CBCBCC;
    --main-transition:.95s;
}
/*end variables
/* start globale rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
  }
  body{
    background-color: #F5F5F7;
  }

  .container{
    padding-left:10px;
    padding-right:10px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
        padding-left:25px;
        padding-right:25px;
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /*end gloable rulles
/*start with nav bar*/
header{
    width: 100%;
    background-color: #313132;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 30px;
    position: relative;
    z-index: 20;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .menu{
  display:block ;
}
@media (min-width:767px) {
    header .container .menu{
      display: none;
    }
}

header .container .all-items{
    position: absolute;
    z-index: -1;
    top:-100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    transition: var(--main-transition);
}
/* @media (min-width:767px) {
    header .container .all-items{
        display: flex;
        flex-direction: row;
        top: 0;
    
    }
} */
header .container .all-items .search-phone{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
@media (min-width:767px) {
  header .container .all-items .search-phone{
      display: none;

  }
}
header .container .all-items .search-phone input[type=text]{
    flex-basis: 95%;
    background-color: #1D1D1F;
    padding: 10px 25px;
    border-radius: 12px;
    border: none;
    position: relative;
}
header .container .all-items .search-phone::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: .2px;
    background-color: #777;
    width: 100%;
}
input[type=text]::placeholder {
     color: #6E6E73;
     font-weight: bold;
     font-size: 1.3rem;
     padding-left:20px;
     padding-top: 5px;
     padding-bottom: 5px;
  }
header .container .all-items .search-phone i{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
header .container .all-items .items{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 30px;
    padding-right: 30px;
}
header .container .all-items .items .item{
    color: #B3B3B3;
    font-size: 1.35rem;
    font-weight: normal;
    margin-bottom: 20px;
    position: relative;
}
header .container .all-items .items .item::after{
content: "";
position:absolute;
bottom: -10px;
left: 0;
height: .2px;
background-color: #777;
width: 100%;
}
header .container .icons{
    width: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: flex-end;
    cursor: pointer;
}
 
header .container .icons span{
    display: block;
    height: 1.2px;
    width: 100%;
    background-color:var(--main-color);
    margin-bottom: 5px;
    transition: .5s;
}

header .container .icons.openMenu span:nth-child(1){
    transform: rotate(45deg) translate(13px,-5px);
}
header .container .icons.openMenu span:nth-child(2){
    transform: rotate(-45deg) translate(8px,8px);
} 
header .container .log,
header .container .bag{
    color: var(--main-color);
    font-size: 1.3rem;
}
header .container .search{
      display: none;
      color: var(--main-color);
      font-size: 1.1rem;
}
@media (min-width:767px) {
    header .container .search{
    display: block;
    }
}
/*end with nav bar*/